@page "/ContactMe"  
@rendermode InteractiveServer  

<PageTitle>Contact
    Me
</PageTitle>  

<div class="socialcard">  
    <h2>  📬 Contact Me  
        Let’s Build What Matters.  
    </h2>  
    <p>  
        Whether you’re looking to collaborate, innovate, or just share ideas, I’d love to connect. As a backend engineer with a passion for high-performance   
        architecture and purposeful tech, I’m always eager to exchange thoughts with fellow creators, leaders, and visionaries.  
    </p>  
    <ul>  
        <li><a href="mailto:molebatshepho@gmail.com">📩 Email</a></li>  
        <li><a href="https://yourdomain.com">🌐 Portfolio</a></li>  
        <li><a href="https://linkedin.com/in/tshephomoleba">🔗 LinkedIn</a></li>  
        <li><a href="https://github.com/Tshepho911">🐙 GitHub</a></li>  
    </ul>  

    <p>
        “Great things are built through great conversations.”

        Feel free to reach out — whether it’s a challenge you’re solving, a system you’re optimizing,   
        or an idea that could help humanity thrive, I’m listening.
    </p>
</div>  

<div class="card" style="width: 22rem;">  
    <div class="card-body">  
        <h5 class="card-title">Diamond Tshepho Moleba</h5>  
        <h6 class="card-subtitle mb-2 text-muted">Junior Software Developer</h6>  
        <p class="card-text">  
            <strong>Email:</strong> molebatshepho@gmail.com<br />  
            <strong>Phone:</strong> +27 60 291 6054<br />  
            <strong>Address:</strong> Soshanguve 0152, Pretoria , Gauteng, South Africa  
        </p>  
    </div>  
    
</div>  

@code {   

}